#selected-locations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.selected-location {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.selected-location p {
    margin: 0;
}

#continue-button {
    margin: 0 auto;
}

#selected-locations #continue-button button {
    padding: 16px 80px;
}

@media (max-width: 750px) {
    #selected-locations {
        width: unset;
    }
}
