#selected-locations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.selected-location {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.selected-location p {
    margin: 0;
}

#selected-locations .selected-location button.remove-button {
    background-color: unset;
    border: none;
    padding: 0;
}

#selected-locations .selected-location .trash-can {
    width: 24px;
    height: 24px;
    padding: 2px 0 0 8px;
    transition: 300ms;
}

#selected-locations .selected-location .trash-can:hover {
    transform: scale(1.2);
}

#continue-button {
    margin: 0 auto;
}

#selected-locations #continue-button button {
    padding: 16px 80px;
}
