/* LocationPanel */
.location-panel {
    width: 280px;
    box-shadow: 0px 0px 4px 1px var(--border-color);
    border-radius: 5px;
    padding: 24px;
    white-space: pre-wrap;
}

.location-name {
    margin: 0;
}

.location-region, .location-time {
    font-size: 14px;
}

.current {
    display: flex;
    align-items: center;
    margin: 16px 0 8px;
}

img.condition-icon {
    width: 128px;
    height: 128px;
}

.condition-text {
    margin: 0 0 8px
}

.location-temp-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    margin-left: 24px;
}

.location-temp {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.more-details {
    display: flex;
    justify-content: space-between;
}
.detail-label, .detail-text {
    margin: 8px 0 0;
}

.detail-label {
    font-weight: bold;
    color: var(--secondary-text-color);
}

/* LocationPanelPlaceholder */
.location-panel.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 372.8px;
}

.location-panel.placeholder .location-name {
    width: 280px;
}

.location-panel.placeholder .spinner {
    width: 120px;
    margin-top: 88px;
    animation: spin 1.5s linear infinite, fade-in-out 1.5s linear infinite;
}

@keyframes fade-in-out {
    0% { opacity: 10%; }
    50% { opacity: 100%; }
    100% { opacity: 10%; }
}
