#search-form-container {
    width: 60%;
}

#search-form-description {
    line-height: 1.4;
}

#search-form .spinner {
    animation: spin 1.5s linear infinite;
}

#search-results {
    display: flex;
    flex-direction: column;
    max-width: 520px;
}

#search-form-container #search-results button {
    border-radius: 0;
    transform: none;
}

@media (max-width: 750px) {
    #search-form-container {
        width: unset;
    }

    #search-form #location-query, #search-results {
        width: calc(100vw - 214px);
    }

    #search-results {
        position: absolute;
        box-shadow: 4px 6px 8px 1px var(--button-shadow-color);
        max-width: unset;
    }
}

@media (max-width: 600px) {    
    #search-form .icon {
        margin: 0;
    }

    #search-form #search-button-text {
        display: none;
    }

    #search-form #location-query, #search-results {
        width: calc(100vw - 155px);
    }
}

@media (max-width: 370px) {
    .location-search-step {
        padding: 16px;
    }

    #search-form #location-query, #search-results {
        width: calc(100vw - 139px);
    }
}

