#search-form-container {
    width: 60%;
}

#search-form {
    display: flex;
    gap: 8px;
    height: 48px;
}

#search-form #location-query {
    font-size: 1rem;
    width: 500px;
    padding: 8px;
    border-style: outset;
}

#search-form #search-button {
    display: flex;
    align-items: center;
}

#search-form .magnifying-glass {
    width: 16px;
    height: 16px;
    padding: 0 8px 2px 0;
}

#search-form .loading-spinner {
    margin: 12px 12px 12px 8px;
}

#search-results {
    display: flex;
    flex-direction: column;
    max-width: 520px;
}

#search-form-container #search-results button {
    border-radius: 0;
}
