#multi-weather {
    height: calc(100% - 130px);
    padding: 16px 24px;
    box-sizing: border-box;
}

#location-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@container scroll-state(scrollable: y) {
    #multi-weather {
        height: unset;
    }
}
