#multi-weather {
    padding: 0px 24px 16px;
    box-sizing: border-box;
}

#multi-weather #loading-message {
    margin: 0;
    transform: translateY(-8px);
}

#location-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
