#local-storage-modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 10;
}

#local-storage-modal.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

#local-storage-modal #local-storage {
    width: 480px;
    background-color: var(--bg-color);
    border: solid 2px var(--border-color);
    border-radius: 20px;
    box-shadow: 2px 4px 8px 2px var(--border-color);
    padding: 24px;
    margin: auto;
}

#local-storage-modal button.close.icon-button {
    position: absolute;
    transform: translate(448px, -28px);
    transition: 300ms;
}

#local-storage-modal button.close.icon-button:hover {
    transform: translate(448px, -28px) scale(1.2);
}

#local-storage-modal button.close.icon-button img.close-button-img {
    width: 28px;
    height: 28px;
    padding: 16px;
}

#local-storage-modal h2 {
    margin-top: 8px;
}

#local-storage-modal p {
    line-height: 1.4;
}

#local-storage-modal #save-form {
    margin-top: 32px;
}

.saved-query {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px var(--border-color);
    border-radius: 5px;
    margin: 8px;
}

.saved-query .query-name {
    margin-left: 16px;
}

.saved-query .buttons {
    gap: 16px;
}

.saved-query button.icon-button img.icon-button-img {
    width: 32px;
    height: 32px;
    padding: 6px;
    margin: 0;
}
