#page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#page #header, #page #footer {
    padding: 0 24px;
}

#page #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
}

#page #header a {
    text-decoration: none;
}

#page #header a:hover {
    color: var(--primary-text-color);
}

#page #header h1 {
    margin: 17px 0;
}

#page #header #header-buttons {
    display: flex;
    align-items: center;
    height: 70px;
}

#page #header #action-buttons {
    display: flex;
    align-items: center;
}

#page #header #header-buttons .icon-button {
    margin: 6px;
}

#page #header #header-buttons .icon-button-img {
    width: 32px;
    height: 32px;
    padding: 6px;
}

#page #main {
    display: flex;
    flex-direction: column;
    flex: 100%;
}

/* Action Button Display Rules */
#main:has(#location-search) #header-buttons #save, 
#main:has(#location-search) #header-buttons #copy,
#main:has(#location-search) #header-buttons #search,
#main:has(.no-locations) #header-buttons #save, 
#main:has(.no-locations) #header-buttons #copy,
#main:has(#not-found) #header-buttons #save, 
#main:has(#not-found) #header-buttons #copy {
    display: none;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    transition-delay: 0s;
    transition-property: visibility;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tooltip-bg-color);
    box-shadow: 2px 3px 4px 1px var(--button-shadow-color);
    color: var(--primary-text-color);
    text-align: center;
    white-space: nowrap;
    padding: 5px 8px;
    border-radius: 6px;
    z-index: 1;
}

button.tooltip .tooltip-text.active,
a.tooltip .tooltip-text.active {
    display: flex;
    justify-content: center;
}

img.tooltip-icon {
    width: 16px;
    height: 16px;
    padding: 0 8px 0 0;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-bg-color) transparent;
}

.tooltip:hover .tooltip-text.hover {
    visibility: visible;
    transition-delay: 0.3s;
    transition-property: visibility;
}

/* Theme Toggle */

#page #header #theme-toggle {
    display: flex;
    justify-content: space-between;
    width: 84px;
    height: 44px;
    padding: 8px 6px 8px 10px;
    background-color: unset;
    border: none;
}

button#theme-toggle:active {
    transform: none;
}

#page #header #theme-toggle:hover {
    background-color: #b1acce2c;
}

#page #header #theme-toggle img {
    width: 32px;
    z-index: 1;
}

#theme-toggle #dark-icon.light {
    visibility: hidden;
}

#theme-toggle #light-icon.dark {
    visibility: hidden;
}

#theme-toggle #theme-toggle-slider {
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: var(--border-color);
    border-radius: 100%;
    transform: translate(4px, 3px);
    transition: 200ms;
    z-index: 1;
}

#theme-toggle #theme-toggle-slider.light {
    transform: translate(41px, 3px);
}

#theme-toggle-bg {
    position: absolute;
    height: 8px;
    width: 24px;
    transform: translate(23px, 10px);
}

#theme-toggle-bg.dark {
    background-color: #b1acce47;
}

#theme-toggle-bg.light {
    background-color: #b1acceb5;
}

@media (max-width: 600px) {
    #page #header {
        flex-direction: column;
        align-items: stretch;
        height: unset;
    }

    #page #header h1 {
        text-align: center;
        margin-bottom: 0;
    }

    #page #header #header-buttons {
        justify-content: space-between;
    }
}


@media (max-width: 360px) {
    #page #header {
        padding: 0;
    }

    #page #header #header-buttons {
        justify-content: center;
    }
    
    #page #header #header-buttons .icon-button {
        margin: 0px;
    }
}
