#page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#page #header, #page #footer {
    padding: 0 24px;
}

#page #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
}
#page #header h1 {
    margin: 0;
}

#page #header #theme-toggle {
    display: flex;
    justify-content: space-between;
    width: 84px;
    height: 44px;
    padding: 8px 6px 8px 10px;
    background-color: unset;
    border: none;
}

#page #header #theme-toggle:hover {
    background-color: #b1acce2c;
}

#page #header #theme-toggle img {
    width: 32px;
    z-index: 1;
}

#theme-toggle #dark-icon.light {
    visibility: hidden;
}

#theme-toggle #light-icon.dark {
    visibility: hidden;
}

#theme-toggle #theme-toggle-slider {
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: var(--border-color);
    border-radius: 100%;
    transform: translate(4px, 3px);
    transition: 200ms;
    z-index: 1;
}

#theme-toggle #theme-toggle-slider.light {
    transform: translate(41px, 3px);
}

#theme-toggle-bg {
    position: absolute;
    height: 8px;
    width: 24px;
    transform: translate(23px, 10px);
}

#theme-toggle-bg.dark {
    background-color: #b1acce47;
}

#theme-toggle-bg.light {
    background-color: #b1acceb5;
}
