#page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#page #header, #page #footer {
    padding: 0 24px;
}

#page #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
}
#page #header h1 {
    margin: 0;
}

#page #header #action-buttons {
    display: flex;
}

#page #header #action-buttons .icon-button-img {
    width: 32px;
    height: 32px;
    padding: 2px 12px 0;
}

#page #header #theme-toggle {
    display: flex;
    justify-content: space-between;
    width: 84px;
    height: 44px;
    padding: 8px 6px 8px 10px;
    background-color: unset;
    border: none;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    transition-delay: 0s;
    transition-property: visibility;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tooltip-bg-color);
    box-shadow: 2px 3px 4px 1px var(--button-shadow-color);
    color: var(--primary-text-color);
    text-align: center;
    white-space: nowrap;
    padding: 5px 8px;
    border-radius: 6px;
    z-index: 1;
}

button.tooltip .tooltip-text.active {
    display: flex;
    justify-content: center;
}

img.tooltip-icon {
    width: 16px;
    height: 16px;
    padding: 0 8px 0 0;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-bg-color) transparent;
}

.tooltip:hover .tooltip-text.hover {
    visibility: visible;
    transition-delay: 0.3s;
    transition-property: visibility;
}

/* Theme Toggle */
#page #header #theme-toggle:hover {
    background-color: #b1acce2c;
}

#page #header #theme-toggle img {
    width: 32px;
    z-index: 1;
}

#theme-toggle #dark-icon.light {
    visibility: hidden;
}

#theme-toggle #light-icon.dark {
    visibility: hidden;
}

#theme-toggle #theme-toggle-slider {
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: var(--border-color);
    border-radius: 100%;
    transform: translate(4px, 3px);
    transition: 200ms;
    z-index: 1;
}

#theme-toggle #theme-toggle-slider.light {
    transform: translate(41px, 3px);
}

#theme-toggle-bg {
    position: absolute;
    height: 8px;
    width: 24px;
    transform: translate(23px, 10px);
}

#theme-toggle-bg.dark {
    background-color: #b1acce47;
}

#theme-toggle-bg.light {
    background-color: #b1acceb5;
}

@media (max-width: 480px) {
    #page #header h1 {
        font-size: 1.75rem;
    }

    #action-buttons #save, #action-buttons #copy {
        display: none;
    }
}
