body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color: #181721;
    color: #e1def5;
}

.error {
    color:#f34343
}

a {
    color: #e1def5;
}

a:hover {
    color: #9993c2;
}
