body {
    margin-left: 16px;
}

h1 {
    margin-bottom: 8px;
}

.location-panel {
    margin-bottom: 24px;
}

img.condition-icon {
    width: 64px;
    height: 64px;
}

.location-name {
    margin-top: 0px;
}
