[data-color-theme="dark"] {
    --bg-color: #181721;
    --primary-text-color: #efecff;
    --secondary-text-color: #b1acce;
    --hover-color: #9993c2;
    --error-color: #f34343;
    --border-color: #726b9f;
    --button-bg-color: #3a4079;
    --button-border-color: #24284db9;
    --button-hover-color: #373b61;
    --button-disabled-color: #4a4c5f;
    --button-shadow-color: #181721;
    --input-bg-color: #ffffff0a;
}

[data-color-theme="light"] {
    --bg-color: #efecff;
    --primary-text-color: #181721;
    --secondary-text-color: #605983;
    --hover-color: #9993c2;
    --error-color: #f34343;
    --border-color: #726b9f;
    --button-bg-color: #b4bbf8;
    --button-border-color: #4c5175b9;
    --button-hover-color: #999fd3;
    --button-disabled-color: #b5b6c2;
    --button-shadow-color: #666387;
    --input-bg-color: #ffffff85;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

.error {
    color: var(--error-color);
}

a {
    color: var(--primary-text-color);
}

a:hover {
    color: var(--hover-color);
}

button {
    font-size: 1rem;
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);
    border-color: var(--button-border-color);
    border-radius: 5px;
    padding: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

button:disabled {
    background-color: var(--button-disabled-color);
    border-color: var(--button-disabled-color);
}
